body {
    background: whitesmoke url("images/wall_bg.jpg");
    font-family: 'Montserrat';
}

.container {
    width: 80%;
}

.img_container {
    width: 150px;
    height: 150px;
    margin-top: 10px;
}

.game_title {
    list-style-type: none;
    display: inline-block;
    width: 150px;
    text-align: center;
    background: white;
}

.category_header {
    text-align: center;
}

.game_container {
    display: inline-block;
}

.game_list {
    align-content: center;
    width: 98%;
}

.gameView_title {
    text-align: center;
}

.iframe_container {
    position: relative;
    overflow: hidden;
    width: 99vw;
    height: 80vh;
}

.iframe_container iframe {
    border: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
 }

