
{% extends 'games/base.html' %}
{% block body %}

  <h3 class="category_header"> {{category.name}} </h3>

  {% if error_message %}
  <p>
    <strong>
      {{error_message}}
    </strong>
  </p>
  {% endif %}

  <ul class="game_list">
  {% csrf_token %}
    {% for game in category.game_set.all %}

    <div class="game_container">
      <div class="img_container">
        <img src="{{ game.image }}" height="150px" width="150px">
      </div>
      <li class="game_title"><a href="{% url 'games:gameView' category.id game.id %}">
        {{game.title}} - {{ game.price }}€

      </a>

    </div>
    {% endfor %}
  </ul>
{% endblock %}
