{% extends 'games/base.html' %}
{% block body %}
  <h3 class="gameView_title">
    {{game.title}}
	</h3>
	
{% if game in request.user.userprofile.games.all %}
<script>
	$(document).ready(function() {
    'use strict';
    $(window).on('message', function(evt) {
      //Note that messages from all origins are accepted
      //Get data from sent message
      var data = evt.originalEvent.data;
			var currhs = '{{score.objects.all}}';
			if(data > currhs) {
				$('#score').html("New high score!");
			} else {
				$('#score').html("You have posted your current score of: " + data);
			};
    });
  });
</script>
<div class="iframe_container">
  <iframe
    src="{{ game.source }}"
    >
  </iframe>
</div>
<div>
	<p id="score"></p>
	<p>High scores for this game: {{score.objects.all}}</p>
</div>

{% else %}
  <div id="form">

	<h3>Buy game!</h3>

	<form action="http://payments.webcourse.niksula.hut.fi/pay/" method="POST">
	    <input type="hidden" name="pid" value={{pid}} />
	    <input type="hidden" name="sid" value={{sid}} />
	    <input type="hidden" name="success_url"
	            value="http://localhost:8000/games/{{game.category.id}}/{{game.id}}/success/" />
	    <input type="hidden" name="cancel_url"
	            value="http://localhost:8000/games" />
	    <input type="hidden" name="error_url"
	            value="http://localhost:8000/games" />
	    <input type="hidden" name="checksum"
	            value={{checksum}} />
	    <input type="hidden" id="id_amount" name="amount" value={{amount}} />
      <p>Checksum: {{checksum}}</p>
			<p>Confirm payment<p>
			<ul>
				<li><b>Game:</b> {{game.title}}</li>
				<li><b>Price:</b> {{game.price}}€</li>
			</ul>
	    <input class="btn btn-primary" type="submit" value="Accept Payment"/>
	</form>
</div>

{% endif %}
{% endblock %}
