{% extends "games/base.html" %}
{% block body %}
<h2>Successful payment</h2>

<p>You have successfully bought {{game.title}}!</p>

<Button class="btn btn-primary" onClick="goToGame({{game.id}},{{game.category.id}})">Play game</Button>
<Button class="btn btn-secondary"onClick="goToStore()">Return to the store</Button>

<script>
  function goToGame(game_id,category_id){
    // Takes the user to the game page
    window.location = '/games/' + category_id + '/' + game_id + '/'
  }
  function goToStore(){
    // Takes the user to the frontpage
    window.location = '/'
  }
</script>
{% endblock %}
